In [2]:
pip install matplotlib

Collecting matplotlib
  Downloading https://files.pythonhosted.org/packages/23/38/cb55064c883dfa6f49ccbf635ca725e862736c86de99984bd556ac144002/matplotlib-3.1.2-cp36-cp36m-macosx_10_9_x86_64.whl (13.2MB)
     |████████████████████████████████| 13.2MB 1.5MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib) (2.8.1)
Collecting kiwisolver>=1.0.1
  Downloading https://files.pythonhosted.org/packages/49/5d/d1726d2a2fd471a69ef5014ca42812e1ccb8a13085c42bfcb238a5611f39/kiwisolver-1.1.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (113kB)
     |████████████████████████████████| 122kB 2.0MB/s eta 0:00:01
Collecting cycler>=0.10
  Downloading https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
  Downloading https://files.pythonhosted.org/packages/5d/bc/1e58593167fade7b544bfe9502a26dc860940a79ab306e651e7f13be68c2/pyparsing-2.4.6-py2.py3-none-any.whl (67kB)
     |████████████████████████████████| 71kB 2.7MB/s eta 0:00:011
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from matplotlib) (1.18.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from python-dateutil>=2.1->matplotlib) (1.13.0)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib) (42.0.2.post20191203)
Installing collected packages: kiwisolver, cycler, pyparsing, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.1.2 pyparsing-2.4.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Collecting requests
  Using cached https://files.pythonhosted.org/packages/51/bd/23c926cd341ea6b7dd0b2a00aba99ae0f828be89d72b2190f27c11d4b7fb/requests-2.22.0-py2.py3-none-any.whl
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading https://files.pythonhosted.org/packages/e8/74/6e4f91745020f967d09332bb2b8b9b10090957334692eb88ea4afe91b77f/urllib3-1.25.8-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 1.2MB/s eta 0:00:01
Collecting idna<2.9,>=2.5
  Using cached https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/PythonData/lib/python3.6/site-packages (from requests) (2019.11.28)
Installing collected packages: urllib3, idna, chardet, requests
Successfully installed chardet-3.0.4 idna-2.8 requests-2.22.0 urllib3-1.25.8
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import requests
import gmaps
from api_keys import g_key
from pprint import pprint

In [2]:
cities_df = pd.read_csv('/users/saurin/desktop/cities.csv')
cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
0,0,okha,0,RU,1579796382,96,-11.38,53.57,142.95,6.42
1,1,otradnoye,73,RU,1579796382,67,32.00,59.78,30.82,8.95
2,2,nouakchott,100,MR,1579796304,9,93.20,18.09,-15.98,12.75
3,3,dikson,100,RU,1579796382,97,-12.12,73.51,80.55,14.43
4,4,aklavik,20,CA,1579796382,74,-22.00,68.22,-135.01,5.82
...,...,...,...,...,...,...,...,...,...,...
566,566,vestmannaeyjar,20,IS,1579796470,65,32.00,63.44,-20.27,34.45
567,567,lima,90,PE,1579796410,69,78.80,-12.04,-77.03,8.05
568,568,ukiah,90,US,1579796470,100,48.00,39.15,-123.21,2.10
569,569,ixtapa,90,MX,1579796470,78,77.00,20.70,-105.20,0.51
570,570,monrovia,75,LR,1579796235,63,91.40,6.30,-10.80,4.70

In [3]:
cities_df['Humidity'].dtype

dtype('int64')

In [4]:
locations = cities_df[['Lat', 'Lng']]
humidity = cities_df['Humidity']

In [5]:
gmaps.configure(api_key = g_key)

In [6]:
data = cities_df[['Lat', 'Lng', 'Humidity']]
data.head()

     Lat     Lng  Humidity
0  53.57  142.95        96
1  59.78   30.82        67
2  18.09  -15.98         9
3  73.51   80.55        97
4  68.22 -135.01        74

In [7]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=10, point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
ideal_df = cities_df.loc[(cities_df['Temp']>70) & (cities_df['Temp']<80) & (cities_df['Wind Speed']<10) & (cities_df['Cloudiness']==0)]
ideal_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed
41,41,buala,0,SB,1579796388,78,78.58,-8.14,159.59,5.19
111,111,tadine,0,NC,1579796398,79,73.26,-21.55,167.88,7.72
204,204,noumea,0,NC,1579796416,82,79.00,-22.28,166.46,3.36
242,242,sorong,0,ID,1579796421,89,73.74,-0.88,131.25,3.38
307,307,tautira,0,PF,1579796219,78,78.80,-17.73,-149.15,2.24
308,308,ratnagiri,0,IN,1579796431,56,71.98,16.98,73.30,3.09
404,404,poya,0,NC,1579796445,77,77.27,-21.35,165.15,5.06
406,406,sindhnur,0,IN,1579796446,39,75.47,15.78,76.77,5.03
495,495,henties bay,0,NaN,1579796459,82,72.00,-22.12,14.28,5.01

In [66]:
ideal_df['Hotel'] = ""
ideal_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel
41,41,buala,0,SB,1579796388,78,78.58,-8.14,159.59,5.19,
111,111,tadine,0,NC,1579796398,79,73.26,-21.55,167.88,7.72,
204,204,noumea,0,NC,1579796416,82,79.00,-22.28,166.46,3.36,
242,242,sorong,0,ID,1579796421,89,73.74,-0.88,131.25,3.38,
307,307,tautira,0,PF,1579796219,78,78.80,-17.73,-149.15,2.24,
308,308,ratnagiri,0,IN,1579796431,56,71.98,16.98,73.30,3.09,
404,404,poya,0,NC,1579796445,77,77.27,-21.35,165.15,5.06,
406,406,sindhnur,0,IN,1579796446,39,75.47,15.78,76.77,5.03,
495,495,henties bay,0,NaN,1579796459,82,72.00,-22.12,14.28,5.01,

In [69]:
params = {
    "distance": 5000,
    "rankby" : "distance",
    "type":"lodging",
    "key" : g_key
}

for index, row in ideal_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat}, {lng}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(url, params=params).json()
    results = response['results']
    try:
        ideal_df[index, 'Hotel'] = results[0]['name']
    except(KeyError, IndexError):
        print("NA")

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

NA

NameError: name 'ideal' is not defined

In [70]:
ideal_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Temp,Lat,Lng,Wind Speed,Hotel,"(41, Hotel)","(111, Hotel)","(204, Hotel)","(242, Hotel)","(307, Hotel)","(308, Hotel)","(406, Hotel)","(495, Hotel)"
41,41,buala,0,SB,1579796388,78,78.58,-8.14,159.59,5.19,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
111,111,tadine,0,NC,1579796398,79,73.26,-21.55,167.88,7.72,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
204,204,noumea,0,NC,1579796416,82,79.00,-22.28,166.46,3.36,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
242,242,sorong,0,ID,1579796421,89,73.74,-0.88,131.25,3.38,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
307,307,tautira,0,PF,1579796219,78,78.80,-17.73,-149.15,2.24,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
308,308,ratnagiri,0,IN,1579796431,56,71.98,16.98,73.30,3.09,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
404,404,poya,0,NC,1579796445,77,77.27,-21.35,165.15,5.06,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
406,406,sindhnur,0,IN,1579796446,39,75.47,15.78,76.77,5.03,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation
495,495,henties bay,0,NaN,1579796459,82,72.00,-22.12,14.28,5.01,,Maringe Lagoon Lodge,Hotel Nengone Village,Le Faré Moana,Kepala Kepolisian Resort Sorong,Pension Oaoa,Bhatye Khadi,Minority hostel,Eagle Accommodation